<%- include ('../../partials/header') %> <%- include ('../../partials/header')%>
<%- include ('../../partials/header') %> <%- include ('../../partials/navBar')%>

<div class="container">
  <hr />
  <div class="card">
    <div class="card-header">
      <h2>Editar artigo</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/articles/update">
        <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo"/>
        <br />
        <textarea class="form-control" name="body" placeholder="Escreva o artigo aqui" id="article"></textarea> <br>
        <label for="">Categoria</label>
        <select name="categorie" class="form-control">

          <% categories.forEach(categorie => { %>

            <% if(categorie.id == article.categoryId){ %>
              <option value="<%=categorie.id%>" selected><%=categorie.title%></option>
            <%}else{%>
              <option value="<%=categorie.id%>"><%=categorie.title%></option>
            <%}%>

            

          <%})%>

        </select>
        <br />
        <input type="hidden" name="id" value="<%= article.id %>">
        <button class="btn btn-success">Atualizar</button>

      </form>
    </div>
  </div>
</div>
<div id="contenttxt" style="display: none;">
  <%- article.body %>
</div>

<%- include ('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: "#article",
    plugins: [
      "advlist",
      "autolink",
      "link",
      "lists",
      "print",
      "preview",
      "hr",
      "searchreplaced",
      "wordcount",
      "fullscreen",
      "insertdatetime",
      " media",
      "save",
      "table",
      "paste",
      "emoticons",
    ],
    language: "pt_BR",
    init_instance_callback: () => {
      tinymce.activeEditor.setContent(document.getElementById('contenttxt').innerHTML);
    }
  });
</script>
