<%- include ('partials/header.ejs') %>
<%- include ('partials/homeNavBar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Este é o Mobypress</p>
            <hr class="my-04">
            <p>Este é um projeto que tem como objetivo estudos do Nodejs e utilização de suas tecnologias para a criação de um CRUD completo</p>
            <a class="btn btn-primary btn-lg" role="button" href=".">Leia mais</a>
        </div>
        <hr>
        <% articles.forEach(article => { %>
            <br>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%=article.slug%>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <% })%>

        <div class="row">
            <div class="col col-12">
                <a href="/articles/page/2" style="float: right;">Next >>></a>
            </div>
        </div>
        <hr>
    </div>
    <hr>


</body>

<%- include ('partials/footer') %>
